<html>
<head>
    <link href="/public/assets/index.css" rel="stylesheet" type="text/css" />
    <title>Login</title>
</head>
<body>
    <header>
        <div style="width: 100%; background-color: beige; height: 100px;">
            <div style="height: 100px;"><img src="/public/cssimages/logo.png" alt="logo" style="max-height: 100px;"></div>
        </div>
    </header>
    <section>
        <div>
            <h1>Hi</h1>
            <h2>For the ones who attract you, click on the green button</h2>
            <h2>For the ones who don't attract you, click on the red button</h2>
            <h2>If you also attract them, we will tell you!</h2>
            <a href="/">Go back to your profile!</a>
        </div>
    </section>
    <section>
        <h1> Aqui vem as possibilidades </h1>
    </section>
    
</body>
</html>