<html>
<head>
    <link href="/public/assets/register.css" rel="stylesheet" type="text/css" />
    <title>Register</title>
</head>
<body>
    <header>
        <div style="width: 100%; background-color: beige; height: 100px;">
            <div style="height: 100px;"><img src="/public/cssimages/logo.png" alt="logo" style="max-height: 100px;"></div>
        </div>
    </header>
    <section>
        <form action="/pictureuptade" enctype="multipart/form-data" method="POST">
            <div>
                <p>Picture</p>
                <input type="file" name="UserFile" required>
            </div>
            <button type="submit">Update</button>
        </form>
    </section>
		
</body>

</html>